*{
    margin: 0;
    padding: 0;
}
.Name{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
}
.hat{
    height: 35px;
    width: 50px;
    position:absolute;
    left:  90px;
}
.Name:hover{
    color: #089eca;
    transition: 0.4s;
}
.MainBox{
    height: 70px;
    width: 96.3%;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 0 5px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    color: #089eca;
}

.NavBox{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    margin-right: 5%;
    color: #212529;
}
.NavBox>h3{
    padding: 3%;
    cursor: pointer;
}.l{
    margin-right: 8px;
}
.NavBox>h3:hover{
    color: #089eca;
    transition: 0.4s;
}
.active{
    color: #089eca;
}
.SideBox{
    position: relative;
    margin-top: 0px;
    height: 1000px;
    width: 370px;
    align-items: center;
    float: right;
    display: flex;
    flex-direction: column;
    display: none;
    background-color: #ffffff;
    z-index: 5;
}
.SideBoxActive{
    display: block;
    align-items: center;
    float: right;
    display: flex;
    flex-direction: column;
}
.SideBox>h3{
    font-size: 25px;
    margin-top: 35px;
    cursor: pointer;
    margin-left: 20px;
}
.SideBox>h3:hover{
    color: #089eca;
    transition: 0.4s;
}
.menuIcon{
    display: none;
}


@media only screen and (max-width: 1290px) {
    .MainBox{
        width: 95.7%;
     
    }
}
   

@media only screen and (max-width: 900px) {
    .NavBox>h3{
        display: none;
    }.NavBox{
        margin-left: 5%;
    }.Name{
        font-size: 25px;
    }.menuIcon{
        display: block;
        cursor: pointer;
        font-size: 35px;
    }
}
    

@media only screen and (max-width: 500px) {
    .NavBox{
        margin-left: 50%;
    }.hat{
        left: 70px;
        position: absolute;
    }.MainBox{
        width: 85.5%;
    }.menuIcon{
        font-size: 30px;
        margin-left: 20px;
    }
}

@media all and (min-width:768px) and (max-width: 1024px) {
    .menuIcon{
        font-size: 30px;
        margin-left: 90%;
    }
}


