.content{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}
.box{
    height: 650px;
    width: 530px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    float: left;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.imgBox{
    height:250px;
    width: 100%;
}
.imgBox>img{
    border-radius: 5px 5px 0 0 ;
    height: 100%;
    width: 100%;
}
.Heading{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: #089eca;
    border-bottom:3px groove ;
    border-color: #089eca;
    width: fit-content;
}
.HeadingSpan{
    padding-left: 10px;
    font-size: 15px;
    font-style: italic;
}
.para{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    line-height: 30px;
}
.techStack{
    height: 50px;
    width: 50%;
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
}
.logo{
    font-size: 40px;
    margin-left: 65px;
    color: #1c6277;
}
.buttonBox{
    height: 50px;
    width: 100%;
    margin-top: 40px;
}
.btn{
    border-radius: 10px;
    width: 100px;
    display: flex;
    background-color: #42bbe0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-decoration: none;
    font-weight: 700;
    float: left;
    margin-left: 100px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition:  0.2s;
}
#disable{
    background-color: gray;
    transform: scale(1);
}
.btn:hover{
    transform: scale(1.1);
}
.btnLogo{
    margin-right: 5px;
}

@media only screen and (max-width: 1296px) {
    .box{
        margin-left: 50px;
    }
}


@media only screen and (max-width: 500px) {
    .box{
        height: 620px;
        width: 330px;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: center;
        float: left;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        
    }
    .imgBox{
        height: 150px;
        width: 100%;
    }
    .imgBox>img{
        border-radius: 10px 10px 0 0 ;
        height: 100%;
        width: 100%;
    }
    .box{
        margin: 0;
        margin-top: 0px;
        width: 280px;
        height: 680px;
        margin-left: 0px;
        margin-bottom: 20px;
    }.btn{
        margin: 0;
        margin-left: 25px;
    }.logo{
        margin-left: 15px;
    }.buttonBox{
        margin-top: 15px;
    }
}
@media all and (min-width:768px) and (max-width: 1024px) {
    .box{
        margin-left: 80px;
    }
}